<div class="container color-light" *ngFor="let ch of character">
	<div class="col align-center">
		<div>
			<img src="{{ch.thumbnail.path}}.{{ch.thumbnail.extension}}" width="200">
			<div class="padding-bottom">
				<span *ngFor="let item of ch.urls">
					<a href="{{item.url}}" target="blank">{{item.type | uppercase}}</a> &nbsp;&nbsp;
				</span>

			</div>
		</div>
	</div>
	<div class="col">
		<div class="padding-bottom">
			<table>
				<tbody>
					<tr>
						<td>
							<strong>Id</strong>
						</td>
						<td>{{ch.id}}</td>
					</tr>
					<tr>
						<td>
							<strong>Name</strong>
						</td>
						<td>{{ch.name}}</td>
					</tr>
					<tr>
						<td>
							<strong>Description</strong>
						</td>
						<td>{{ch.description || "None"}}</td>
					</tr>
					<tr>
						<td>
							<strong>Last Modified</strong>
						</td>
						<td>{{ch.modified | date : 'dd/MM/yyyy'}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="padding-bottom">
			<strong>Comics Appearance ({{ch.comics.available}})</strong>

			<div *ngFor="let item of ch.comics.items" class="padding-left">
				{{item.name}}
			</div>

		</div>

		<div class="padding-bottom">
			<strong>Series ({{ch.series.available}})</strong>

			<div *ngFor="let item of ch.series.items" class="padding-left">
				{{item.name}}
			</div>

		</div>

		<div class="padding-bottom">
				<strong>Events ({{ch.events.available}})</strong>
	
				<div *ngFor="let item of ch.events.items" class="padding-left">
					{{item.name}}
				</div>
	
			</div>

			<div class="padding-bottom">
					<strong>Stories ({{ch.stories.available}})</strong>
		
					<div *ngFor="let item of ch.stories.items" class="padding-left">
						{{item.name}}
					</div>
		
				</div>
	</div>

</div>

<a routerLink="" class="btn btn-small">Return to Home</a>